.jumbotron {
    text-align: center;
    font-family: serif;
    background-color: black;
    color: white;
}

#map {
  margin-left: px;
 height: 500px;
 }

.panel-heading {
    background-color: black;
    color: white;
}