.jumbotron {
    text-align: center;
    font-family: serif;
    background-color: black;
    color: white;
}

#map {
 	height: 500px;
 	margin-bottom: 20px;
 }
.panel-heading {
	background-color: #F0F8FF;
}

#floating-panel {
	position: absolute;
    top: 230px;
    left: 30%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px; 
}